  <div class="intro">
    <div class="intro-text">
      <h1><%= format_title %></h1>
    </div>
  </div>

<div class="pub-error">
  <p>It looks like you've stopped BERG Cloud accessing your GitHub account.</p>

  <p>You might also want to unsubscribe from the GitHub Events publication at remote.bergcloud.com</p>

  <p>If you want to start receiving GitHub Events again, just re-subscribe.</p>
</div>

